/* bootstrap model showing two scroll bars */
html {
  overflow: visible;
}

body {
  background-color: #000;
  background-image: url(/img/BackgroundTexture.png);
}

/* prevent the drop down icon going onto a new line for the top bar language link */
.top-bar-language-nav-link {
  min-width: 65px;
}

/* main sidebar not under model */
.modal {
  z-index: 1110;
}

.form-group.required .col-form-label:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 3px;
}

.nav-user-menu .user-image {
  width: 20px;
  margin-right: 4px;
  margin-top: -4px;
}

.famfamfam-flags {
  display: inline-block;
}

.main-header {
  background: none;
  border: none;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100px;
}

.LogoLine1, .LogoLine2, .LogoLine3 {
  text-align: center;
  display: block;
}

.LogoLine1 {
  background-image: url(/img/BluLight160.png);
  background-repeat: repeat-x;
  background-position: center -20px;
  background-size: 140px;
  height: 15px;
  border-bottom-width: 1px;
  border-bottom-style: ridge;
  border-bottom-color: #000;
}

.LogoLine2 {
  background-image: url(/img/Shelfwhite.png);
  background-repeat: repeat-y;
  background-position: center center;
}

  .LogoLine2 .Logo-link {
    color: #fff;
  }

/*  .LogoLine2 .Logo-link .Logo-link-image {
    height: 70px;
    vertical-align: middle;
  }
*/
@media (min-width: 576px) {
  .LogoLine2 .Logo-link {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .LogoLine2 .Logo-link {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .LogoLine2 .Logo-link {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .LogoLine2 .Logo-link {
    font-size: 3rem;
  }
}



.LogoLine3 {
  background-image: url(/img/BluLight160.png);
  background-repeat: repeat-x;
  background-position: center -110px;
  background-size: 140px;
  height: 25px;
  border-top-width: 1px;
  border-top-style: groove;
  border-top-color: #000;
}









.content-wrapper {
  background-color: #400;
  background-repeat: repeat-x;
  background-position: center -110px;
  background-image: url(/img/WhitLight160.png);
  -moz-box-shadow: inset 0 1px 6px hsla(0,0%,0%,.5), inset 0 0 10px hsla(0,0%,0%,.5), 0 0 0 1px hsla(0,0%,0%,.1), 0 -1px 2px 1px hsla(0,0%,0%,.25), 0 2px 2px 1px rgba(31, 31, 31,.5), 0 -2px 10px 2px rgba(31, 31, 31,.75), 0 2px 10px 2px hsla(0,0%,0%,.25);
  -webkit-box-shadow: inset 0 1px 6px hsla(0,0%,0%,.5), inset 0 0 10px hsla(0,0%,0%,.5), 0 0 0 1px hsla(0,0%,0%,.1), 0 -1px 2px 1px hsla(0,0%,0%,.25), 0 2px 2px 1px rgba(31, 31, 31,.5), 0 -2px 10px 2px rgba(31, 31, 31,.75), 0 2px 10px 2px hsla(0,0%,0%,.25);
  box-shadow: inset 0 1px 6px hsla(0,0%,0%,.5), inset 0 0 10px hsla(0,0%,0%,.5), 0 0 0 1px hsla(0,0%,0%,.1), 0 -1px 2px 1px hsla(0,0%,0%,.25), 0 2px 2px 1px rgba(31, 31, 31,.5), 0 -2px 10px 2px rgba(31, 31, 31,.75), 0 2px 10px 2px hsla(0,0%,0%,.25);
  -webkit-border-top-left-radius: 34px;
  -moz-border-radius-topleft: 34px;
  border-top-left-radius: 34px;
  -webkit-border-top-right-radius: 34px;
  -moz-border-radius-topright: 34px;
  border-top-right-radius: 34px;
  -webkit-border-bottom-right-radius: 34px;
  -moz-border-radius-bottomright: 34px;
  border-bottom-right-radius: 34px;
  -webkit-border-bottom-left-radius: 34px;
  -moz-border-radius-bottomleft: 34px;
  border-bottom-left-radius: 34px;
  padding: 1.5rem 1rem 1rem 1rem;
}

.content-header h1 {
  font-size: 2.5rem;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
  color: #343a40;
}

.glassButton, .glassButton-white, .modal-content, .card, .content-header h1 {
  -webkit-box-shadow: 0px 0px 3px 2px hsla(0,0%,0%,.6), 0px 0px 4px 5px hsla(0,100%,100%,.8), 0px 0px 3px 8px hsla(0,100%,100%,.2), inset 0 1px 5px 0px hsla(0,0%,0%,.3);
  -moz-box-shadow: 0px 0px 3px 2px hsla(0,0%,0%,.6), 0px 0px 4px 5px hsla(0,100%,100%,.8), 0px 0px 3px 8px hsla(0,100%,100%,.2), inset 0 1px 5px 0px hsla(0,0%,0%,.3);
  box-shadow: 0 0 2px 1px hsla(0,0%,0%,.6), 0 0 3px 4px hsla(0,100%,100%,.8), 0 0 5px 7px hsla(0,100%,100%,.5), 0 0 5px 8px hsla(0,0%,0%,.1), inset -1px -1px 3px 2px hsla(0,0%,0%,.1);
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
}

.glassButton-white {
  background-color: #fff;
}

/*Footer*/
.main-footer {
  background: none;
  border: none;
}

.LogoFacebook a, .LogoYouTube a, .LogoTwitter a, .LogoLinkedIn a {
  background-image: url(/img/social-icon.png);
  background-size: 90px 90px;
  background-repeat: no-repeat;
  display: block;
  color: Transparent;
  width: 45px;
  height: 45px;
  overflow: hidden;
}

.LogoFacebook, .LogoFacebook a {
  background-position: 0px 0px;
}

.LogoYouTube, .LogoYouTube a {
  background-position: 0px -45px;
}

.LogoTwitter, .LogoTwitter a {
  background-position: -45px 0px;
}

.LogoLinkedIn, .LogoLinkedIn a {
  background-position: -45px -45px;
}
