@{ string pageTitle = !string.IsNullOrWhiteSpace(ViewBag.Title) ? ViewBag.Title + " - " : "";
        pageTitle += "Better Living Through Science"; }
<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>@pageTitle</title>

  @await Html.PartialAsync("_Styles.cshtml")
  @RenderSection("styles", required: false)
</head>
<body class="hold-transition sidebar-mini">
  @*<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Index">BLTS.WebUi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>*@
  <div class="wrapper">
    @await Html.PartialAsync("_Header.cshtml")
    @await Html.PartialAsync("_SideBar.cshtml")
    <div class="content-wrapper">
      @*@await Html.PartialAsync("_Alerts.cshtml")*@
      @RenderBody()
    </div>
    @await Html.PartialAsync("_Footer.cshtml")
  </div>

  @await Html.PartialAsync("_Scripts.cshtml")
  @RenderSection("scripts", required: false)
  @*@WebResourceManager.RenderScripts()*@
</body>
</html>


