<nav class="main-header navbar navbar-expand">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link pushmenu" data-widget="pushmenu" href="javascript:;"><i class="fas fa-bars"></i></a>
    </li>
  </ul>
  <div class="header-logo-container">
    <div class="LogoLine1"></div>
    <div class="LogoLine2">
      <a title="Better Living Through Science" class="Logo-link" href="/"><img class="Logo-link-image" src="/img/logo.png" alt="Better Living Through Science Logo">Better Living Through Science</a>
    </div>
    <div class="LogoLine3"></div>
  </div>
  <ul class="navbar-nav ml-auto rightNavPadding">
  </ul>
</nav>

@code {

}
