<AuthorizeView>
  <Authorized>
    <div class="user-panel mt-2 pb-2 mb-2 d-flex">
      <div class="info">
        Hello, @context.User.Identity.Name!
        @*<a href="AzureAD/Account/SignOut">Log out</a>*@
      </div>
    </div>
  </Authorized>
    @*<NotAuthorized>
        <a href="AzureAD/Account/SignIn">Log in</a>
    </NotAuthorized>*@
</AuthorizeView>
