<CascadingAuthenticationState>
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-flat" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
              <i class="nav-icon fas fa-home" aria-hidden="true"></i> <p>Home Page</p>
            </NavLink>
          </li>
          <li class="nav-item has-treeview ">
            <NavLink href="/Research" class="nav-link" Match="NavLinkMatch.Prefix">
              <i class="nav-icon fas fa-book"></i>
              <p>Research Initiative</p>
              <i class="fas fa-angle-left right"></i>
            </NavLink>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <NavLink href="/Research" class="nav-link" Match="NavLinkMatch.All">
                  <i class="nav-icon fas fa-star"></i>
                  <p>Research Philosophy</p>
                </NavLink>
              </li>
              <li class="nav-item">
                <NavLink href="/Research/Atomic" class="nav-link" Match="NavLinkMatch.All ">
                  <i class="nav-icon fas fa-atom"></i>
                  <p>Atomic Manufacturing</p>
                </NavLink>
              </li>
              <li class="nav-item">
                <NavLink href="/Research/Biophysics" class="nav-link" Match="NavLinkMatch.All ">
                  <i class="nav-icon fas fa-dna"></i>
                  <p>Biophysics</p>
                </NavLink>
              </li>
              <li class="nav-item">
                <NavLink href="/Research/Hardware" class="nav-link" Match="NavLinkMatch.All ">
                  <i class="nav-icon fas fa-microchip"></i>
                  <p>Hardware Engineering</p>
                </NavLink>
              </li>
              <li class="nav-item">
                <NavLink href="/Research/Neurophysics" class="nav-link" Match="NavLinkMatch.All ">
                  <i class="nav-icon fas fa-brain"></i>
                  <p>Neurophysics</p>
                </NavLink>
              </li>
              <li class="nav-item">
                <NavLink href="/Research/Software" class="nav-link" Match="NavLinkMatch.All ">
                  <i class="nav-icon fas fa-hat-wizard"></i>
                  <p>Software Engineering</p>
                </NavLink>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview ">
            <NavLink href="/Outreach" class="nav-link" Match="NavLinkMatch.Prefix">
              <i class="nav-icon fas fa-hand-holding-heart"></i>
              <p>Community Outreach</p>
              <i class="fas fa-angle-left right"></i>
            </NavLink>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <NavLink href="/Outreach" class="nav-link" Match="NavLinkMatch.All ">
                  <i class="nav-icon fas fa-heart"></i>
                  <p>Outreach Philosophy</p>
                </NavLink>
              </li>
              <li class="nav-item">
                <NavLink href="/Outreach/AfterSchool" class="nav-link" Match="NavLinkMatch.All ">
                  <i class="nav-icon fas fa-theater-masks"></i>
                  <p>After School Programs</p>
                </NavLink>
              </li>
              <li class="nav-item">
                <NavLink href="/Outreach/EducationalFacility" class="nav-link" Match="NavLinkMatch.All ">
                  <i class="nav-icon fas fa-school"></i>
                  <p>Educational Facilities</p>
                </NavLink>
              </li>
              <li class="nav-item">
                <NavLink href="/Outreach/EducationalSupply" class="nav-link" Match="NavLinkMatch.All ">
                  <i class="nav-icon fas fa-book-reader"></i>
                  <p>Educational Supplies</p>
                </NavLink>
              </li>
              <li class="nav-item">
                <NavLink href="/Outreach/StudentLunch" class="nav-link" Match="NavLinkMatch.All ">
                  <i class="nav-icon fas fa-utensils"></i>
                  <p>Student Lunch Program</p>
                </NavLink>
              </li>
              <li class="nav-item">
                <NavLink href="/Outreach/TeacherRecruitment" class="nav-link" Match="NavLinkMatch.All ">
                  <i class="nav-icon fas fa-chalkboard-teacher"></i>
                  <p>Teacher Recruitment</p>
                </NavLink>
              </li>
              <li class="nav-item">
                <NavLink href="/Outreach/Vaccine" class="nav-link" Match="NavLinkMatch.All ">
                  <i class="nav-icon fas fa-syringe"></i>
                  <p>Vaccine Program</p>
                </NavLink>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview ">
            <NavLink href="/About" class="nav-link" Match="NavLinkMatch.Prefix">
              <i class="nav-icon fas fa-info-circle"></i>
              <p>Information</p>
              <i class="fas fa-angle-left right"></i>
            </NavLink>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <NavLink href="/About" class="nav-link " Match="NavLinkMatch.All">
                  <i class="nav-icon fas fa-question-circle"></i>
                  <p>About</p>
                </NavLink>
              </li>
              <li class="nav-item">
                <NavLink href="/About/Budget" class="nav-link" Match="NavLinkMatch.All ">
                  <i class="nav-icon fas fa-file-invoice-dollar"></i>
                  <p>Budget</p>
                </NavLink>
              </li>
              <li class="nav-item">
                <NavLink href="/About/Contact" class="nav-link" Match="NavLinkMatch.All ">
                  <i class="nav-icon fas fa-address-card"></i>
                  <p>Contact</p>
                </NavLink>
              </li>
              <li class="nav-item">
                <NavLink href="/About/CoreValues" class="nav-link" Match="NavLinkMatch.All ">
                  <i class="nav-icon fas fa-star"></i>
                  <p>Core Values</p>
                </NavLink>
              </li>
              <li class="nav-item">
                <NavLink href="/About/EmployeeRecruitment" class="nav-link" Match="NavLinkMatch.All ">
                  <i class="nav-icon fas fa-pizza-slice"></i>
                  <p>Employee Recruitment</p>
                </NavLink>
              </li>
              <li class="nav-item">
                <NavLink href="/About/Organization" class="nav-link" Match="NavLinkMatch.All ">
                  <i class="nav-icon fas fa-sitemap"></i>
                  <p>Organization</p>
                </NavLink>
              </li>              
            </ul>
          </li>
          <AuthorizeView>
            <Authorized>
              <li class="nav-item">
                <NavLink href="AzureAD/Account/SignOut" class="nav-link">
                  <i class="nav-icon fas fa-sign-out-alt" aria-hidden="true"></i>
                  <p>Log out</p>
                </NavLink>
              </li>
            </Authorized>
            <NotAuthorized>
              <li class="nav-item">
                <NavLink href="AzureAD/Account/SignIn" class="nav-link">
                  <i class="nav-icon fas fa-sign-in-alt" aria-hidden="true"></i>
                  <p>Log in</p>
                </NavLink>
              </li>
            </NotAuthorized>
          </AuthorizeView>
        </ul>
      </nav>
    </div>
  </aside>
</CascadingAuthenticationState>

@code {
  //private bool collapseNavMenu = true;

  //private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

  //private void ToggleNavMenu()
  //{
  //  collapseNavMenu = !collapseNavMenu;
  //}
  @*<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BLTS.WebUi.Blazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>*@
}
