@using BLTS.WebUi
<footer class="main-footer">
  <div>
    <ul class="navbar-nav FooterSocialLinks  d-sm-inline-block">
      <li class="LogoFacebook  d-sm-inline-block"><a class="nav-link" href="https://www.facebook.com/BetterLivingThroughScience/" target="_blank">Better Living Through Science Facebook</a></li>
      <li class="LogoYouTube d-sm-inline-block"><a class="nav-link" href="https://www.youtube.com/c/MatthewCrawford" target="_blank">Better Living Through Science YouTube</a></li>
      <li class="LogoTwitter d-sm-inline-block"><a href="https://twitter.com/Tron1978" target="_blank">Better Living Through Science Twitter</a></li>
      <li class="LogoLinkedIn d-sm-inline-block"><a href="https://www.linkedin.com/company/betterlivingthroughscience/" target="_blank">Better Living Through Science LinkedIn</a></li>
    </ul>
  </div>
  <div>
    <strong>Copyright &copy; @DateTime.Now.Year Better Living Through Science, inc.</strong> All rights reserved.<br />
    Better Living Through Science, Inc. is a registered US 501(c)(3) non-profit charity.
  </div>
</footer>
