<div class="header-logo-container">
  <div class="LogoLine1"></div>
  <div class="LogoLine2">
    <a class="Logo-link" asp-controller="Home" asp-action="Index"><img class="Logo-link-image" src="~/img/logo.png" alt="Better Living Through Science Logo">Better Living Through Science</a>
  </div>
  <div class="LogoLine3"></div>
</div>  