<nav class="main-header navbar navbar-expand">
  @await Html.PartialAsync("_Header.LeftNavbar.cshtml")
  @await Html.PartialAsync("_Header.Logo.cshtml")
  @await Html.PartialAsync("_Header.RightNavbar.cshtml")
</nav>
