<div class="header-logo-container m-auto">
  <div class="LogoLine1 m-auto"></div>
  <div class="LogoLine2 m-auto">
    <a class="Logo-link" asp-controller="Home" asp-action="Index"><img class="Logo-link-image" src="~/img/logo.png" alt="Better Living Through Science Logo">Better Living Through Science</a>
    @*<div class="LogoLine2Image">
    </div>*@
  </div>
  <div class="LogoLine3 m-auto"></div>
</div>  