@using BLTS.WebUi.Web.Views.Shared.Components.SideBarMenu
@using BLTS.WebUi.Web.Views.Shared.Components.SideBarUserArea
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <div class="sidebar">
    @await Component.InvokeAsync(typeof(SideBarUserAreaViewComponent))
    @await Component.InvokeAsync(typeof(SideBarMenuViewComponent))
  </div>
</aside>
