@using BLTS.WebUi.Web.Startup
@{ ViewBag.CurrentPageName = "Home";
  ViewBag.Title = ""; }

<div class="content-header">
  <div class="container-fluid">
    @*<div class="row mb-2">
        <div class="col-sm-12">
        </div>
      </div>*@
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h3>Nonprofit scientific research for the benefit of humanity</h3>
            <p>
              The primary objective of Better Living Through Science  is to help humanity through scientific research and education. BLTS believes that scientific research and education are of primary importance in permanently raising families and communities out of poverty as well as improving the health and happiness of all humans. BLTS also believes that research knowledge should be shared freely for the benefit of all humanity.<br />
            </p>

            <h3>Version 1 of BLTS Website is Online</h3>
            <p>
              First revision of the BLTS website is now online. Much work remains but minimally the site is now live :)
            </p>

            <h3>Registration in Thailand beggins</h3>
            <p>
              The process of registration in Thailand has begun.
            </p>

            <h3>Better Living Through Science, Inc. 501(c)(3)</h3>
            <p>
              2017-Oct-11 - US registration is complete.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
