@page "/"

<PageTitle Title="" />

<div class="content-header">
  <div class="container-fluid">
    @*<div class="row mb-2">
        <div class="col-sm-12">
        </div>
      </div>*@
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header border-transparent">
            <h3 class="card-title">Dedicated to helping humanity through science</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <h4>Nonprofit scientific research for the benefit of humanity</h4>
            <p>
              The primary objective of Better Living Through Science is to help humanity through scientific research and education. BLTS believes that scientific research and education are of primary importance in permanently raising families and communities out of poverty as well as improving the health and happiness of all humans. BLTS also believes that research knowledge should be shared freely for the benefit of all humanity.<br />
            </p>
            <p>
              วัตถุประสงค์หลักของ มูลนิธิเพื่อชีวิตที่ดีกว่าโดยองค์ความรู้ทางวิทยาศาสตร์ คือการช่วยเหลือมนุษยชาติผ่านการวิจัยทางวิทยาศาสตร์และการศึกษา เชื่อว่าการวิจัยทางวิทยาศาสตร์และการศึกษามีความสําคัญหลักในการเลี้ยงครอบครัวและชุมชนออกจากความยากจนรวมทั้งการปรับปรุงสุขภาพและความสุขของมนุษย์ทั้งหมด. นอกจากนี้ มูลนิธิเพื่อชีวิตที่ดีกว่าโดยองค์ความรู้ทางวิทยาศาสตร์ ยังเชื่อว่าความรู้การวิจัยควรจะใช้ร่วมกันได้อย่างอิสระเพื่อประโยชน์ของมนุษยชาติทั้งหมด
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header border-transparent">
            <h2 class="card-title">Business Status</h2>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <h4>Thailand registration is complete</h4>
            <p>
              2020-July-03 - Better Living Through Science Thailand Foundation<br />
              2563-July-03 - มูลนิธิเพื่อชีวิตที่ดีกว่าโดยองค์ความรู้ทางวิทยาศาสตร์
            </p>
            <h4>US registration is complete</h4>
            <p>
              2017-October-11 - Better Living Through Science, Inc. 501(c)(3)<br />
              2560-October-11 - ชีวิตที่ดีขึ้นผ่านวิทยาศาสตร์, จดทะเบียน องค์กรไม่แสวงผลกําไร 501(c)(3)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
