@using BLTS.WebUi.Web.Startup
@{ ViewBag.CurrentPageName = "CampusInfo";
  ViewBag.Title = "Campus Information"; }
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="m-0 text-dark">Campus Information</h1>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">

            <h3>WiFi</h3>

            <p>
              SSID: BltsEmployee<br />
              Password: 10LifeIsGood01<br />
              <br />
              Guest WiFi Access is provided on the SSID: BltsGuest and does not require a password.<br />
              Please do not disclose the internal password to guests.<br />
            </p>

            <h3>Cafeteria Hours</h3>

            <p>
              <ul>
                <li>Morning: 7:00-9:00</li>
                <li>Midday: 11:00-13:00</li>
                <li>Evening: 17:00-19:00</li>
                <li>Night: 23:00-1:00</li>
              </ul>
            </p>

            <h3>Safety and Health</h3>

            <p>
              Safety and Health information<br />
            </p>

            <h3>Fraud Waste &amp; Abuse (FWA)</h3>

            <p>
              Fraud Waste and Abuse information<br />
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
