@using BLTS.WebUi.Web.Startup
@{ ViewBag.CurrentPageName = "CampusInfo";
  ViewBag.Title = "Campus Information"; }
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="m-0 text-dark">@ViewBag.Title</h1>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header border-transparent">
            <h2 class="card-title">Technology</h2>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <h4>WiFi</h4>
            <p>
              SSID: BltsEmployee<br />
              Password: 10LifeIsGood01<br />
              <br />
              Guest WiFi Access is provided on the SSID: BltsGuest and does not require a password.<br />
              Please do not disclose the internal password to guests.<br />
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header border-transparent">
            <h2 class="card-title">Facilities</h2>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <h4>Cafeteria Hours</h4>
            <p>
              <ul>
                <li>Morning: 7:00-9:00</li>
                <li>Midday: 11:00-13:00</li>
                <li>Evening: 17:00-19:00</li>
                <li>Night: 23:00-1:00</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header border-transparent">
            <h2 class="card-title">Safety and Health</h2>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <h4>Safety and Health</h4>
            <p>
              Safety and Health information<br />
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header border-transparent">
            <h2 class="card-title">Fraud Waste &amp; Abuse (FWA)</h2>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <h4>Fraud Waste &amp; Abuse (FWA)</h4>
            <p>
              Fraud Waste and Abuse information<br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
