@using BLTS.WebUi.Web.Startup
@{ ViewBag.CurrentPageName = "CoreValues";
  ViewBag.Title = "Core Values"; }
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="m-0 text-dark">@ViewBag.Title</h1>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header border-transparent">
            <h2 class="card-title">Professional Ethical Commitment</h2>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <p>
              Adhering to core values ensures we will not degrade from a climate of professional ethical commitment into a climate of corrosion.
            </p>
            <h4>Integrity First</h4>
            <p>
              Integrity is the single most important part of character. Integrity is the willingness to do what is right even when no one else is looking. It is the "moral compass", the inner voice, the voice of self-control, the basis for all trust.
            </p>
            <h4>Service Before Self</h4>
            <p>
              Service before self is a willingness to place the welfare of humanity ahead of our own personal needs or comforts.
            </p>
            <h4>Excellence in all we do</h4>
            <p>
              It is a commitment to high standards and an understanding that we are responsible for the future of humanity.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
