@using BLTS.WebUi.Web.Startup
@{ ViewBag.CurrentPageName = "EmployeeRecruitment";
  ViewBag.Title = "Employee Recruitment"; }
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="m-0 text-dark">Employee Recruitment</h1>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h3>Administration</h3>

            <p>
              This department is not currently seeking candidates
            </p>

            <h3>Biology</h3>

            <p>
              This department is not currently seeking candidates
            </p>

            <h3>Facilities</h3>

            <p>
              This department is not currently seeking candidates
            </p>

            <h3>Hardware Engineering</h3>

            <p>
              This department is not currently seeking candidates
            </p>

            <h3>Physics</h3>

            <p>
              This department is not currently seeking candidates
            </p>

            <h3>Software Engineering</h3>

            <p>
              This department is not currently seeking candidates
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
