@page "/About/Organization"

@code {
  public string Title = "Organization";
}
<PageTitle Title=@Title />

<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="m-0 text-dark">@Title</h1>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header border-transparent">
            <h2 class="card-title">BLTS USA</h2>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <h4>President / Executive Director</h4>
            <p>
              <a href="http://www.linkedin.com/in/MJcrawford/" target="_blank">Matthew J Crawford</a>
            </p>
            <h4>Secretary</h4>
            <p>
              <a href="https://www.linkedin.com/in/anuradha-nandi-28899417/" target="_blank">Anuradaha Nandi</a>
            </p>
            <h4>Director</h4>
            <p>
              <a href="https://www.linkedin.com/in/brianna-crawford-1a1376148/" target="_blank">Brianna N. Crawford</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header border-transparent">
            <h2 class="card-title">BLTS Cambodia (in progress)</h2>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <h4>President / Executive Director</h4>
            <p>
              <a href="http://www.linkedin.com/in/MJcrawford/" target="_blank">Matthew J Crawford</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
