@namespace BLTS.WebUi.Web.Shared

<footer class="main-footer">
    <div>
        <ul class="navbar-nav FooterSocialLinks d-inline-block">
            <li class="LogoGuideStar d-inline-block"><a class="nav-link" title="GuideStar" href="https://www.guidestar.org/Profile/82-3088369/" target="_blank">Better Living Through Science GuideStar</a></li>
            <li class="LogoFacebook d-inline-block"><a class="nav-link" title="Facebook" href="https://www.facebook.com/BetterLivingThroughScience/" target="_blank">Better Living Through Science Facebook</a></li>
            <li class="LogoLinkedIn d-inline-block"><a class="nav-link" title="LinkedIn" href="https://www.linkedin.com/company/betterlivingthroughscience/" target="_blank">Better Living Through Science LinkedIn</a></li>
            <li class="LogoTwitter d-inline-block"><a class="nav-link" title="Twitter" href="https://twitter.com/Tron1978" target="_blank">Better Living Through Science Twitter</a></li>
            <li class="LogoYouTube d-inline-block"><a class="nav-link" title="YouTube" href="https://www.youtube.com/c/MatthewCrawford" target="_blank">Better Living Through Science YouTube</a></li>
            <li class="LogoGitHub d-inline-block"><a class="nav-link" title="GitHub" href="https://github.com/Better-Living-Through-Science-inc/" target="_blank">Better Living Through Science GitHub</a></li>
        </ul>
    </div>
    <div>
        <strong>Copyright &copy; @DateTime.Now.Year Better Living Through Science, inc.</strong> All rights reserved.<br />
        Better Living Through Science, Inc. is a registered US 501(c)(3) non-profit charity. EIN 82-3088369. Donations are US tax-deductible.
    </div>
</footer>
