@using Microsoft.Identity.Web
@using BLTS.WebUi.UserManagers
@using System.Security.Claims

@namespace BLTS.WebUi.Web.Shared

@inject NavigationManager _navigationManager
@inject UserAuthenticationManager _userAuthenticationManager

@code {
}
<div class="nav-user-menu">
    <div class="m-2 card text-center">
        <ul class="nav nav-pills nav-sidebar flex-column nav-flat">
            <li class="nav-item">
                <CascadingAuthenticationState>
                    <AuthorizeView>
                        <Authorized>
                            @if (_userAuthenticationManager.IsUserFullyAuthenticated().Result)
                            {
                                <a href="/MicrosoftIdentity/Account/SignIn" class="nav-link">
                                    <p>@_userAuthenticationManager.GetUserFullName((ClaimsPrincipal)context.User)</p>
                                    <br />
                                    <i class="nav-icon fas fa-sign-in-alt" aria-hidden="true"></i>
                                    <p>Log in</p>
                                </a>
                            }
                            else
                            {
                                <a href="/MicrosoftIdentity/Account/SignOut" class="nav-link">
                                    <p>@_userAuthenticationManager.GetUserFullName((ClaimsPrincipal)context.User)</p>
                                    <br />
                                    <i class="nav-icon fas fa-sign-out-alt" aria-hidden="true"></i>
                                    <p>Log out</p>
                                </a>
                            }
                        </Authorized>
                        <NotAuthorized>
                            <a href="/MicrosoftIdentity/Account/SignIn" class="nav-link">
                                <i class="nav-icon fas fa-sign-in-alt" aria-hidden="true"></i>
                                <p>Log in</p>
                            </a>
                        </NotAuthorized>
                    </AuthorizeView>
                </CascadingAuthenticationState>
            </li>
        </ul>
    </div>
</div>