@page

@{ ViewBag.CurrentPageName = "HardwareEngineering";
  ViewBag.Title = "Hardware Engineering"; }
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="m-0 text-dark">@ViewBag.Title</h1>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header border-transparent">
            <h2 class="card-title">Molecular 3D Printer</h2>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <h4>Focus Ion Beam Induced Deposition</h4>
            <p>
              Manufacture nano-structures using Focus Ion Beam Induced Deposition
            </p>
            <h4>particle accelerator</h4>
            <p>
              Manufacture nano-structures using low power particle accelerator
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
