@page "/Research"

@code {
  public string Title = "Research Philosophy";
}
<PageTitle Title=@Title />

<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="m-0 text-dark">@Title</h1>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header border-transparent">
            <h2 class="card-title">Humanism not greed</h2>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <h4>Dedicated to helping humanity through science</h4>
            <p>
              The primary objective of Better Living Through Science is to help humanity through scientific research and education. BLTS believes that scientific research and education are of primary importance in permanently raising families and communities out of poverty as well as improving the health and happiness of all humans. BLTS also believes that research knowledge should be shared freely for the benefit of all humanity.
            </p>
            <h4>Transhumanism</h4>
            <p>
              Integration of nano-robotics with the human neural system
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


