@using BLTS.WebUi.Web.Startup
@{ ViewBag.CurrentPageName = "StudentLunchProgram";
  ViewBag.Title = "Student Lunch Program"; }
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="m-0 text-dark">Student Lunch Program</h1>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h3>Private Public Partnership</h3>

            <p>
              Private Public Partnership
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
