@using BLTS.WebUi.Web.Startup
@{ ViewBag.CurrentPageName = "AtomicManufacturing";
  ViewBag.Title = "Atomic Additive Manufacturing"; }
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="m-0 text-dark">@ViewBag.Title</h1>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header border-transparent">
            <h2 class="card-title">Additive Manufacturing</h2>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <h4>Molecular 3D Printer</h4>
            <p>
              Manufacture nano-structures using Focus Ion Beam Induced Deposition and a low power particle accelerator
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header border-transparent">
            <h2 class="card-title">Nano-robotics</h2>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <h4>Nano-robotics for elimination of disease</h4>
            <p>
              Use nano-robots to destroy cancer and pathogens detected by biomarker patterns<br />
              Nanomechanical cantilever sensor arrays will be used for the identification of cells and any cell found to be cancer or pathogenic will trigger the physical rupture of the cellular membrane.<br />
              Once an individual cell is ruptured it will be filtered out of the blood with all other garbage collection in the liver and kidneys.<br />
              Biochemical engineering of surface to prevent rejection from host<br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
