@using BLTS.WebUi.Web.Startup
@{ ViewBag.CurrentPageName = "AtomicManufacturing";
  ViewBag.Title = "Atomic Additive Manufacturing"; }
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="m-0 text-dark">Atomic Additive Manufacturing</h1>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h3>Molecular 3D Printer</h3>

            <p>
              •	Nano-robotics for elimination of disease
              o	Manufacture nano-structures using Focus Ion Beam Induced Deposition and a low power particle accelerator

              o	Use nano-robots to destroy cancer and pathogens detected by biomarker patterns
              	Nanomechanical cantilever sensor arrays will be used for the identification of cells and any cell found to be cancer or pathogenic will trigger the physical rupture of the cellular membrane.
              	Once an individual cell is ruptured it will be filtered out of the blood with all other garbage collection in the liver.
              o	Biochemical engineering of surface to prevent rejection from host
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
