@using BLTS.WebUi.Web.Startup
@{ ViewBag.CurrentPageName = "Biophysics";
  ViewBag.Title = "Biophysics"; }
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="m-0 text-dark">Biophysics</h1>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h3>Cellular Protein Excretion</h3>

            <p>
              •	Cataloging cancer and pathogen biomarker patterns
              o	Detection of chemical excretion through cellular membrane used for object identification
              	“Both myoglobin and creatine kinase could be detected independently using cantilevers functionalized with the corresponding antibodies, in unspecific protein background.” (Arntz, 2002)
              	This shows the physical deflection of a nanomechanical cantilever sensor when in contact with specific proteins. These sensors are expected to be used in the nano-robotics. (Dr. Hans Peter Lang, 2006)
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
