@using BLTS.WebUi.Web.Startup
@{ ViewBag.CurrentPageName = "HardwareEngineering";
  ViewBag.Title = "Hardware Engineering"; }
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="m-0 text-dark">Hardware Engineering</h1>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h3>Particle Accelerator Control</h3>

            <p>
              Particle Accelerator Control
            </p>

            <h3>Focused Ion Beam Control</h3>

            <p>
              Focused Ion Beam Control
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
