@using BLTS.WebUi.Web.Startup
@{ ViewBag.CurrentPageName = "Neurophysics";
  ViewBag.Title = "Neurophysics"; }
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="m-0 text-dark">@ViewBag.Title</h1>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header border-transparent">
            <h2 class="card-title">Brain to Computer Interface</h2>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <h4>Transhumanism</h4>
            <p>
              Integration of nano-robotics with the human neural system
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
